<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configuration>
		<connectionStrings>
			<add name="BD" 
				 connectionString="Server=localhost;Initial Catalog=db_academia;Integrated Security=True;Trust Server Certificate=True" 
				 providerName="System.Data.SqlClient" />
		</connectionStrings>
	</configuration>
	
	<appSettings>
		<add key="idiomaRegao" value="en-US"/>
	</appSettings>
</configuration>